body{
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
}
h2{
    text-align: center;
 
}
/* .country{
    width: 60vw;
    overflow: scroll;
}
#table{
    width: 50%;
    overflow: scroll;
    background: #FFCD10;
}

.table{
    width: 60vh;
} */
.spinner {

display: flex;



gap: 8px;
}

.spinner > .dot {

width: 1rem;

height: 1rem;

border-radius: 50%;

background-color: hotpink; animation: blur 1s infinite alternate;

}

.spinner > .dot:nth-child(2) {

animation-delay: 200ms;

}

.spinner > .dot:nth-child(3) { animation-delay: 400ms;
}
@keyframes blur {

to

{
filter: blur (4px);

opacity: 0;
}}